<header class="cabecera">
    <h1><a href="{% url 'home' %}">SkinCage</a></h1>
    <nav id="navbar">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if not user.is_authenticated %}
                <li><a href="{% url 'login' %}">Iniciar Sesion</a></li>
            {% else %}
                <li><a href="#">Perfil</a></li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
            <div class="logout">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </div>
        {% endif %}
    </nav>
</header>