{% load static %}
<header class="cabecera">
  <div class="caja-cabecera">
    <div class="logo">
      <h1><a href="{% url 'home' %}">SkinCage</a></h1>
    </div>

    <button class="boton-menu" id="boton-menu" aria-label="Abrir menú" aria-expanded="false">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="envoltura-nav" id="envoltura-nav">
      <nav id="navbar">
        <ul>
          <li><a href="{% url 'home' %}" class="enlace-nav">Home</a></li>
          <li><a href="{% url 'skins' %}" class="enlace-nav">Mercado</a></li>
          <li><a href="{% url 'about' %}" class="enlace-nav">Contacto</a></li>

          {% if user.is_authenticated %}
          <li><a href="{% url 'perfil' %}" class="enlace-nav">Perfil</a></li>
          {% if user.is_staff %}
          <li>
            <a href="{% url 'admin_panel' %}" class="enlace-nav" style="color: #f39c12">Panel Admin</a>
          </li>
          {% endif %} {% endif %}
        </ul>
      </nav>

      <div class="acciones-sesion">
        {% if not user.is_authenticated %}
        <a href="{% url 'login' %}" class="btn-sesion">Iniciar Sesión</a>
        {% else %}
        <form action="{% url 'logout' %}" method="post" class="formulario-salida">
          {% csrf_token %}
          <button type="submit" class="btn-sesion btn-salir">Logout</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</header>

<script src="{% static 'js/cabecera.js' %}"></script>