{% extends "portfolio/base.html" %}

{% block content %}
    <div class="base-skins">
        {% for user in users %}
            <div class="skin">
                <a class="link-skin" href="{% url 'update' user.id_usuario %}">{{user.nombre}}</a>
            </div>
        {% endfor %}
        <form action="" method="get">
            <label for="Filtro">Filtar Usuario <input type="text" name="filtrado" id="filtrado" value="{{filtrado}}"></label>
            <button type="submit">Filtrar</button>
        </form>
        
    </div>
    
    <div class="pagination">
        <span class="step-links">
            {% if users.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ users.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ users.number }} of {{ users.paginator.num_pages }}.
            </span>

            {% if users.has_next %}
                <a href="?page={{ users.next_page_number }}">next</a>
                <a href="?page={{ users.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
