{% extends "portfolio/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
  <div class="formulario">
    <form action="." method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_username">Usuario</label>
        {{ form.username|add_class:'form_control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese su usuario' }}
      </div>
      <div class="form-group">
        <label for="id_password">Contraseña</label>
        {{ form.password|add_class:'form_control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese su contraseña' }}
      </div>
      <button type="submit" class="btn btn-primary">Iniciar sesión</button>
    </form>

    <hr class="my-4">

    <div class="d-grid gap-2">
      <a class="btn btn-outline-dark" href="{% url 'social:begin' 'google-oauth2' %}">
        Iniciar sesión con Google
      </a>
    </div>
  </div>
{% endblock %}
