*{
    margin: 0 auto;
    padding: 0 auto;
}

.cabecera{
    background-color: rgba(12, 11, 11, 0.76);
    display: flex;
    color: white;
}

#navbar{
    margin-top: 10px;
}
#navbar > ul{
    list-style-type: none;
    margin-top: 5px;
}

#navbar > ul > li{
    display: inline;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

#navbar > ul > li > a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
}

#navbar > ul > li:hover{
    cursor: pointer;
}

.inicio{
    width: 100%;
    height: 80vh;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.content{
    border: 1px solid black;
    width: 50%;
    margin-top: 15%;
}

.imagen{
    border: 1px solid gold;
    width: 50%;
    margin-top: 15%;
}

.boton{
    border: 1px solid black;
    border-radius: 5px;
    background-color: plum;
    height: 50px;
    padding: 5px;
    margin-top: 10px;
    width: 150px;
}

.footer{
    background-color: black;
    color: white;
    height: 15vh;
}